.base-dialog {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.base-dialog-header {
  border-bottom: 2px solid #9811fb;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}

.base-dialog-content {
  flex-grow: 1;
  font-size: 1rem;
  margin-block: 10px;
  // padding-inline: 10px;
  max-height: calc(100vh - 400px) !important;
  overflow-y: auto;
}

.base-dialog-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    padding: 8px 16px;
    border: none;
    background-color: #2962dc;
    color: white;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #1e4bbd;
    }
  }
}
