::ng-deep {
  .mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
      background-color: white;
      border-radius: 8px;
    }

    .mat-mdc-form-field-focus-overlay {
      background-color: transparent;
    }
  }
}
