<article
  class="bg-[#F0F4F9]/70 backdrop-blur-sm rounded-lg shadow-lg border-[0.5px] border-[#757575]"
>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">local_movies</mat-icon>
        Tus reseñas de películas
      </ng-template>
      <app-user-reviews></app-user-reviews>
    </mat-tab>

    <!-- <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">book</mat-icon>
        Tus reseñas de libros
      </ng-template>
      <app-books-content></app-books-content>
    </mat-tab> -->
  </mat-tab-group>
</article>
