.mat-icon {
  height: 45px !important;
  width: 45px !important;
  font-size: 45px !important;

  @media (max-width: 1536px) {
    height: 35px !important;
    width: 35px !important;
    font-size: 35px !important;
  }

  @media (max-width: 768px) {
    height: 25px !important;
    width: 25px !important;
    font-size: 25px !important;
  }
}

.add-recommendation-btn {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg"%3e%3crect x="0.5" y="0.5" width="calc(100%25 - 1px)" height="calc(100%25 - 1px)" rx="8" ry="8" fill="none" stroke="%23757575" stroke-width="1" stroke-dasharray="10 5"/%3e%3c/svg%3e');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition:
    background-color 0.3s ease,
    background-image 0.3s ease;

  &:hover {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg"%3e%3crect x="0.5" y="0.5" width="calc(100%25 - 1px)" height="calc(100%25 - 1px)" rx="8" ry="8" fill="none" stroke="%23FFFFFF" stroke-width="1" stroke-dasharray="10 5"/%3e%3c/svg%3e');
    background-color: #9811fb;
  }
}
