.star-icon {
  transition: all 0.2s ease;
  user-select: none;

  &:hover {
    transform: scale(1.1);
  }
}

mat-form-field {
  width: 100%;
}

.mat-mdc-form-field {
  width: 100%;
}

button[mat-fab] {
  min-width: 120px;
}
